{% extends 'quiz/adminbase.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Add Class Text -->
    <div class="col-md-12">
      <h3><a href="admin-add-class" style="text-decoration: none; color: #04868f;">Add Class</a></h3>
    </div>

    <!-- View Classes Text -->
    <div class="col-md-12">
      <h3><a href="admin-view-classes" style="text-decoration: none; color: #4C51BF;">View Classes</a></h3>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
{% endblock %}
